<h1>Welcome To Bible Reader</h1>
<hr>
<div class="container">
  <p> This Web Application Allows you to Read Bible in Around 116 versions .</p>

  <p>American Bible Society (ABS) works with a global network of partners to reach the unreached and help all people
    engage. We're passionate about making the Bible available to every person in a language and in a format anyone can
    understand and afford, so all people may experience its life-changing message.</p>

  <p>With nearly 1500 Bible versions available across over 1000 languages, API.Bible offers the largest collection of
    Bibles available.

    Multiple Bibles in one unified format
    Access multiple versions all with unified formatting. We’ve covered propriety text formats so you can focus on
    building your app, not text conversions.

    Search the Bible
    Search the Bible for any reference or keyword directly from your site or app. Our API makes it easy to integrate
    search functionality so users can find what they’re looking for quickly.

    Digital Bible Library Integration
    If you’re a Digital Bible Library card holder, you can now use your DBL licenses directly within API.Bible.</p>
</div>